.idea
__pycache__
SmaCross*.html

alpaca/config.py
/alpaca/config.py

Strategies-notebooks/*.py
Strategies-notebooks/.ipynb*
SmaCross*
*.html

csvs
csvs/*

secrets.py
config/secrets.py
config/secrets.py